{% extends 'layout.html.twig' %}

{% block content %}
 <div id="option7" class = "box" style="margin-left: auto;margin-right: auto;width: 70%;" >
                        <h3>Contact us for support</h3>
                    <p> <strong>Support</strong>
                        <br/>support@gen-watch.org
                        <br/>
                        <br/><strong>Nikоlаy Сherkаsov</strong>
						<br/>x@biomed.spb.ru
						<br/>
						<br/><strong>Stephen OBrien </strong>
						<br/>Chief scientific officer
						<br/>lgdchief@gmail.com
                        <br/><br/>   <strong>Theodosius Dobzhansky Center for Genome Bioinformatics</strong>
                        <br/>   <a href="http://dobzhanskycenter.bio.spbu.ru/?lang=en" target=_blank>http://dobzhanskycenter.bio.spbu.ru/?lang=en</a>
                        <br />41A, Sredniy Av.
                        <br/>St. Petersburg State University
                        <br/>St. Petersburg, Russia
                        <br/>dobzhanskylab@gmail.com
                        <br/>+7 812 363-61-03
</div>

{% endblock %}