{% extends 'layout.html.twig' %}

{% block content %}
<div id="option5" class = "box" style="margin-left: auto;margin-right: auto;width: 70%;" >
                    <h3>GWATCH paper</h3>
                   <ul>	
						<li class="edit"><a href="https://gigascience.biomedcentral.com/articles/10.1186/2047-217X-3-18">http://www.gigasciencejournal.com/</a>
						<li class="edit"><a href="pdf/GWATCH.pdf" target="_blank">GWATCH - A Web-platform    for Automated   Gene    Association Discovery   Analysis </a> 
						<li class="edit"><a href="pdf/Supp Table 1  Finished Big Table 100 lines PARD3B SNP Additional file 2.xlsx">Supp Table 1  Finished Big Table 100 lines PARD3B SNP.xlsx</a> 
						<li class="edit"><a href="pdf/Supp Table 2 Tests and Pats counts in Module A Additional file 3.xlsx">Supp Table 2 Tests and Pats counts in Module A.xlsx</a> 
						<li class="edit"><a href="pdf/Supp Table 3 Tests and pats counts in Module B Additional file 4.xlsx">Supp Table 3 Tests and pats counts in Module B.xlsx</a> 
						<li class="edit"><a href="pdf/Supp Table 4 Test and Pats counts for Module C Additional file 5.xlsx">Supp Table 4 Test and Pats counts for Module C.xlsx</a> 
						<li class="edit"><a href="pdf/Supp Table 5 Tests for Groups  A,B and C-Additional file 6.xlsx">Supp Table 5 Tests for Groups  A,B and C.xlsx</a> 
						<li class="edit"><a href="pdf/Supp Table 6 541 Hits in 241 genes replicated  in A,B or C -Additional file 7.xlsx">Supp Table 6 541 Hits in 241 genes replicated  in A,B or C.xlsx</a> 
						<li class="edit"><a href="pdf/Supp Table 7 HITS with pval ,QAS & densty ranks -Additional file 8.xlsx">Supp Table 7 HITS with pval ,QAS & densty ranks.xlsx</a> 
						<li class="edit"><a href="pdf/Supp Figs1-4 & Table 8-QC  Methods- Additional file 1.docx">Supp Figs1-4 & Table 8-QC  Methods.docx</a> 
						<li class="edit"><a href="pdf/Supp Fig  5 Trax page- Additional file 9.pdf">Supp Fig  5 Trax page.pdf</a> 
						<li class="edit"><a href="pdf/Supp Fig 6 TRAX Report PARD3B-Additional file 10.pdf">Supp Fig 6 TRAX Report PARD3B.pdf</a> 
						
               		</ul> 
                </div>
{% endblock %}